body {
  padding: .5em;
}
canvas, img {
  position: relative;
  top: 5px;
}
.zoom {
  position: absolute;
  right: 5px;
  top: 10px;
  z-index: 10;
}
.zoom2 {
  position: absolute;
  right: 5px;
  top: 100px;
  z-index: 1;
}
button {
  margin: -5px 1em 0 1em;
  background: #396;
  color: #fff;
  border: none;
  padding: 5px;
  font-size: 1.1em;
}
div {
  width: 80px;
  height: 49px;
  position: absolute;
  top: 10px;
  right: 220px;
}
